/*
	beige: #EDE3D1;
	yellow: AA9138;
	green: 8FBF99;
    dark-green: 81AB75;
	maroon: 8C3532;
	dark-maroon: 5D3337;
*/

body{
	margin: 0 auto;
	height: 100%;
	font-family: "Brandon Regular";
	font-size: 13px;
	letter-spacing: 2px;
	border-top: 10px solid #5D3337;
	height: 100%;
	color: #5D3337;
	background-color: #fff;
}

.container{
	margin: 1em auto;
	text-align: center;
}

/*---------- HEADER -------------*/

#navigation  {
	padding: 1em 0 4em 0;
}

#navigation nav{
	text-decoration: none;
    margin:3em 2em 2em 0px;
    text-align:right;
}

#navigation nav a{
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
    color: #5D3337;
    margin-top: 1.2em;
    padding: 30px 0 5px 0;
    margin:0 20px 10px 0;
    font-family:"Brandon Medium",Helvetica;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#navigation nav a:hover{
	color: #8C3532;
	border-bottom: 4px solid #5D3337;
	text-decoration: none;

}

#navigation nav a#beta{
	text-transform: none;
	border: none;
	color: #8C3532;
	cursor: none;
}

#navigation h1 a#home{
	font-family: "Brandon Medium";
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: normal;
	float: left;
	padding: 12px;
	border: 4px solid #5D3337;
    margin-left: 40px;
    color: #5D3337;	
    text-decoration: none;
    width: 250px;
}

#navigation h1 a#home span{
	letter-spacing: none;
	text-align: center;
}

/*---------- FORM -------------*/

#navigation form{
	margin: 0 auto;
	padding-top: 0.5em;
	font-size: 25px;
	font-style: italic;
	text-transform: none;
	font-family: 'Brandon Thin';
	float: left;
	padding-left: 30px;
	-webkit-appearance:none 
	border: none;
}

#navigation form input{
	height: 40px;
	width: 250px;
	line-height: 40px;
	font-size: 25px;
	color: rgb(193, 89, 84);
	padding: 0 10px;
	border-bottom: 4px solid #f3f3f3;
	display: inline;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#navigation form input:active, form input:hover{
	background-color: #f3f3f3;
}

#navigation form input[type="text"]{
	font-style: italic;
	border: none;
	border-bottom: 4px solid #f3f3f3;
}

#navigation form input[type="submit"]{
	font-family: "Brandon Bold";
	width: 50px;
	background-color: rgb(193, 89, 84);
	border: none;
	color: #8C3532;
	border-bottom: 3px solid #5D3337;
	border-right: 3px solid #5D3337;
}

#navigation form input[type="submit"]:hover{
	color: #8C3532;
	background-color: #5D3337;
	border-bottom: 3px solid #8C3532;
	border-right: 3px solid #8C3532;
}

/*---------- TABLE -------------*/

table{
	margin: 1.5em auto;
	border: none;
	font-size: 30px;
}

table td{
	text-align: center;
	font-style: italic;
	text-transform: normal;
}

table td#header{
	font-size: 40px;
	font-family: "Brandon Bold";
	font-style: normal;
}

/*---------- DROPDOWN -------------*/


.ui-widget-content {
	background: none;
	border: none;
}

.ui-autocomplete,.ui-menu .ui-menu-item li{
	border: none;
	padding: none;
	background: #5D3337;
}

.ui-menu .ui-menu-item a{
    color: rgb(193, 89, 84);
    background-color: #5D3337;
    font-size: 30px;
    font-family: "Brandon Thin";
    text-transform: none;
    padding: none;
    margin: none;
    border: #5D3337;
}

.ui-menu .ui-menu-item a:hover, .ui-menu .ui-menu-item li:hover{
	background: none;
	color: #5D3337;
    background-color: rgb(193, 89, 84);
    border: none;
    margin: none;
}

.ui-autocomplete .ui-widget-content{
	background: #5D3337;
}


#video{
	font-size: 15px;
}

#video iframe{
	width: 600px;
}

#video a{
	border: none;
	padding: none;
	margin: 0;
}

#video a span{
	color: #5D3337;
    border-bottom: 4px solid rgb(193, 89, 84);
    padding-bottom: 5px;
}

/*---------- RESULTS DIV -------------*/

#result{
	margin: 0 auto;
	text-align: center;
}

ul{
	margin: 0;
	padding: 0;
}

.span3{
	color: #5D3337;
	padding: 5px;
	margin: 3px;
	background: #f3f3f3;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.span3 ul li{
	margin: 0 auto;
	text-align: center;
	list-style-type: none;
	padding-bottom:  5px;
	margin: 0;
	font-size: 25px;
}


#day{
	font-size: 13px;
	text-transform: uppercase;
	font-family: "Brandon Bold";
	border-bottom: 1px solid #d3d3d3;
}

.info{
	padding-top: 5px;
	font-size: 15px;
	float: left;
	width: 33%;
	text-align: center;
	display: inline;
}

#date span{
	font-size: 30px;
	font-family: "Brandon Bold";
	color: #d3d3d3;
	padding: none;
}

#temp{
	font-family: "Brandon Thin";
	font-size: 40px;
	line-height: 60px;
}

#image img{
	max-width: 200px;
	max-height: 525px;
	padding: 0;
}

footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding:0;
	width: 30px;
	/*border-bottom: 10px solid #5D3337;*/

}
