body{
  font-family: 'Brandon Medium', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: #f0f0f0;
  border: 1.4em solid #fdfdfc;
  color: #525252;
  letter-spacing: 2px;
  text-align: center;
  font-size: 12px;
}
.container{
  width: 960px;
  margin: 4em auto;
  color: #525252;

}

h1{
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #525252;
  padding: 2em 0 0.5em;
  font-family: 'Brandon Bold';
}


a.choice{
  font-family: "Brandon Medium";
  text-transform: uppercase;
  color:#525252;
  letter-spacing: 2px;
  margin-right: 10px;
  background-color: #e0e0e0;
  padding: 10px;
  text-decoration: none;
}

a.choice:hover, a.choice:active {
  background-color: #525252;
  color:#f0f0f0;
  padding: 10px;
}

a.choice.active{
  background-color: #525252;
  color:#f0f0f0;
  padding: 10px;
}

a.choice:hover{
  background-color: #
}

p{
  margin: 0 auto;
  line-height: 1.5em;
  text-align: center;
  text-indent: 4em;
  color: rgba(81,81,81,0.5);
  padding-bottom: 10px;
}

#vis {
  margin: 4em auto;
  width: 960px;
  height: auto;
  clear: both;
}

.banks, .complaints,.years{
  font-size: 15px;
  color: #525252;
  letter-spacing: 3px;
}

footer {
  text-align: center;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 1px solid #333;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  padding: 10px;
	width: 350px;
	z-index: 10;
  font-size: 15px;
  color: #333;
}

.tooltip .title {
	font-size: 15px;
}

.tooltip .name {
  font-weight:bold;
}

#info-box {
  display:none;
  padding: 2em;
  width: 460px;
  margin: 0 auto;
  text-align: left;
}


#previous_project, #next_project {
  padding: 10px 15px 10px 14px;
}