
@font-face {
  font-family: 'Brandon Black';
  src:url('fonts/Brandon_blk.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Black Italic';
  src:url('fonts/Brandon_blk_it.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Medium';
  src:url('fonts/Brandon_med.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Thin';
  src:url('fonts/Brandon_thin.otf');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "Brandon Medium";
  margin: 0 auto;
  background: #f0f0f0;
  border: 1em solid #fdfdfc;
  color: #525252;
  letter-spacing: 2px;
  text-align: left;
  font-size: 15px;
}

h1{
  font-family: "Brandon Black";
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2em auto 0.5em;
  color: #525252;
}



a.choice{
  font-family: "Brandon Medium";
  text-transform: uppercase;
  color:#525252;
  letter-spacing: 2px;
  margin-right: 10px;
  background-color: #e0e0e0;
  padding: 10px;
  text-decoration: none;
}

a.choice:hover, a.choice:active {
  background-color: #525252;
  color:#f0f0f0;
  padding: 10px;
}

a.choice.active{
  background-color: #525252;
  color:#f0f0f0;
  padding: 10px;
}

a.choice:hover{
  background-color: #
}

.container{
  width: 960px;
  margin: 2em auto;
}

#vis {
  margin: 4em auto;
  width: 960px;
  height: auto;
  clear: both;
}

.banks, .complaints,.years{
  font-size: 15px;
  color: #525252;
  letter-spacing: 3px;
}

footer {
  text-align: center;
}

.container #view_selection {
  margin: 2em auto;
}


.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 1px solid #333;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  padding: 10px;
	width: 350px;
	z-index: 10;
  font-size: 15px;
  color: #333;
}

.tooltip .title {
	font-size: 15px;
}

.tooltip .name {
  font-weight:bold;
}




#info-box{
  display:none;
}

#previous_project {
  position: fixed;
  padding: 10px 15px 15px 14px;
  left: -60px;
  top:43%;
  z-index: 950;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#previous_project div {
  display: inline-block;
  vertical-align: middle;
}

#previous_project a{
  text-decoration: none;
}

#previous_project:hover {
  left:0px;
}

.prev_text{
  font-size: 14px;
  margin-right: 10px;
  margin-left: 12px;
  
}

.prev_text a{
  font-family:BrandonGrotesque-Regular, Helvetica;
  padding-right: 8px;
}


.prev_note{
  color: #525252;
  font-size: 25px;
  font-family:BrandonGrotesque-Bold,Helvetica;

}

/************************************************************************* NEXT PROJECT BUTTON *************************************************************************/

#next_project {
  position: fixed;
  padding: 10px 14px 15px 15px;
  right: -70px;
  top:43%;
  z-index: 950;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


#next_project div {
  display: inline-block;
  vertical-align: middle;
}


#next_project a{
  text-decoration: none;
}


#next_project:hover {
  right:0px;
}

.next_text{
  text-align: right;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 18px;
}

.next_text a{
  font-family:BrandonGrotesque-Regular, Helvetica;  
}

.next_note{
  color: #525252;
  font-size: 25px;
  font-family:BrandonGrotesque-Bold,Helvetica;
}

.link_nextright {
  height: 40px;
  width: 60px;
  padding-left: 20px;
}

.link_nextleft {
  height: 40px;
  width: 60px;
  padding-right: 30px;
}

#next_right a  {
  font-size: 15px;
  cursor: e-resize;
  opacity: 1;
  font-family:BrandonGrotesque-Regular,Helvetica;
  text-decoration: none;

}