/*
	beige: #EDE3D1;
	yellow: AA9138;
	green: 8FBF99;
    dark-green: 81AB75;
	maroon: 8C3532;
	dark-maroon: 5D3337;
*/

body{
	margin: 0 auto;
	font-family: "Brandon Regular";
	font-size: 45px;
	letter-spacing: 2px;
	border: 10px solid rgb(230, 227, 209);
	color: #EDE3D1;
	background-color: #8FBF99;

}

.container{
	margin: 2em auto;
	text-align: center;
}

h1{
	font-family: "Brandon Bold";
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 50px;
}

/*---------- HEADER -------------*/
header  {
	text-align: center;
	color: #525252;
	font-family:'Brandon Medium',Helvetica;
	font-size: 15px;
}

nav{
    margin:2em 2em 0px 0px;
    text-align:right;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
    color: #5D3337;
    border-bottom: 4px solid rgb(193, 89, 84);
    padding: 10px 0 5px 0;
    margin-right: 20px;
    font-family:"Brandon Medium",Helvetica;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

nav a:hover{
	color: #8C3532;
	border-bottom: 4px solid #5D3337;

}



/*---------- FORM -------------*/

form input{
	height: 60px;
	width: 600px;
	line-height: 50px;
	font-size: 30px;
	font-family: "Brandon Thin";
	color: rgb(193, 89, 84);
	padding: 0 10px;
	border-radius: 10px;
	background-color: #99C1A0;
}

form input:active, form input:hover{
	background-color: #BDE0C2;
}

form input[type="text"]{
	font-style: italic;
	border: none;
	border-bottom: 3px solid #8EAF93;
	border-right: 3px solid #8EAF93;
}

form input[type="submit"]{
	font-family: "Brandon Bold";
	width: 50px;
	background-color: rgb(193, 89, 84);
	border: none;
	color: #8C3532;
	border-bottom: 3px solid #5D3337;
	border-right: 3px solid #5D3337;
}

form input[type="submit"]:hover{
	color: #8C3532;
	background-color: #5D3337;
	border-bottom: 3px solid #8C3532;
	border-right: 3px solid #8C3532;
}

table{
	margin: 0 auto;
	border: none;
	font-size: 30px;
}

table td{
	text-align: center;
	color: light-green;
	font-style: italic;
}

table td#header{
	font-size: 40px;
	font-family: "Brandon Bold";
	font-style: normal;

}

.ui-menu .ui-menu-item a{
    color: rgb(193, 89, 84);
    background-color: #5D3337;
    max-width: 600px;
    font-size: 30px;
    border-radius: 0px;
    border-bottom: 1px solid #5D3337;
    font-family: "Brandon Thin";
}

.ui-menu .ui-menu-item a:hover{
	color: #5D3337;
    background-color: rgb(193, 89, 84);
}
