.landing {
  background: $purple; /* fallback for old browsers */
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;

  & h1.landing-logo {
    color: $light-pink;
    font-size: 1.5em;
    position: absolute;
    top: $padding * 2;
    left: $padding * 2;
    font-weight: 700;
  }

  & #landing-text{
    position: absolute;
    left: 20px;
    top: 35%;
    color: $white;
    z-index: 1;
    width: 45vw;

    & #add-organization{
      background-color: transparent;
      color: $light-pink;
      border: 3px solid $light-pink;
      position: absolute;
      padding: $padding;
      display: block;
      position: absolute;
      margin-top: $padding*20;
    }
    & a{
      font-weight: 400;
      display: inline-block;
      color: $light-pink;
      padding: $padding 0 5px 0;
      margin: $padding $padding * 2 0 0;
      letter-spacing: 1px;

      &:hover{
        cursor: pointer;
        color: $red;
        border-bottom: 3px solid $red;
        transition: color 250ms, border-bottom 250ms;
      }
    }

    & h1.landing-header {
      color: $white;
      font-size: 3em;
    }

    & h2{
      font-size: 1.8em;
      color: lightblue;
    }
  }

  & #fillgauge{
    width:100%;
    height:400px;
    position: absolute;
    top: 30vh;
  }
}

.landing-side-grid{
  right: 0;
  float: right;
  width: 50vw;
  height: 100%;
  clear: both;
  padding: 0 $padding * 3;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  background: $white;

  & #category-list{
    margin-top: $padding * 14;
  }

  & .category-header{
    color: $dark-blue;
    border-bottom: 3px solid $dark-blue;
    text-transform: uppercase;
    margin: -$padding * 4 auto $padding * 2;
    position: fixed;
    width: 100%;
  }

  & .category-div {
      & h4{
        display: inline-block;
        padding: $padding 0 5px 0;
        margin: $padding 0 $padding 0;
        max-width: 30vw;
      }

      & .category-description{
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 0.5px;
      }

      & #message {
        letter-spacing: 1px;
        margin: 30px auto;
        color: $blue;
      }

      & .action {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        margin-right: $padding/2;
        margin-top: 3px;

        &#donate{
          background-color: $green;
          color: $green;
        }

        &#online activism {
          background-color: $blue;
          color: #2196f3;
        }

        &#in-person, h6{
          background-color: $yellow;
          color: $yellow;
        }
      }
    &:hover{
      color: $blue;
      cursor: pointer;
    }
  }


  & #sub-category-list {
    position: fixed;
    width: 100%;
    background: $white;
    height: $padding * 9.5;
    padding-top: $padding * 3;


    & h6, button{
      display: inline-block;
    }

    & h6{
      margin-right: $padding;
    }

    & button {
      background-color: #e0d2e7;
      border: none;
      border-radius: 15px;
      margin-right: $padding;
      color: $light-purple;

      &:hover{
        background-color: $light-purple;
        color: $white;
        cursor: pointer;
        transition: background-color 250ms, color 250ms;

      }

      & span.action {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        margin-right: $padding/2;
        margin-top: 3px;

        &#money-based-action{
          background-color: $green;
        }

        &#virtual-action {
          background-color: $blue;
        }

        &#physical-action{
          background-color: $yellow;
        }
      }
    }
  }

  & .category-links {
    border-radius: 10px;
    display: inline-block;
    width: 100%;

    & span, div {
      display: inline;
      float: left;
    }
  }
}

